@model VenturaITC.DSMS.Models.enrollment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_type.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_type.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student.full_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student.full_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
