@model VenturaITC.DSMS.ViewModels.StudentEnrolmentViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Resources.ResourcesTitles.StudentDetails</h2>
<hr />

<div>    

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.student_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.full_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.full_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student_type_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_type_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enrollmentDate)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.place_of_birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place_of_birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fathers_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fathers_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mothers_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mothers_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_issuance_place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_issuance_place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_issuance_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_issuance_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_expiry_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_expiry_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.job_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cell_phone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell_phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cell_phone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell_phone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.academic_level.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.academic_level.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marital_status.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marital_status.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.province.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.province.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student_type.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_type.name)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink(@Resources.ResourcesLinks.Edit, "Edit", new { id = Model.student_id }) |
    @Html.ActionLink(@Resources.ResourcesLinks.BackToList, "Index")
</p>
