@model VenturaITC.DSMS.Models.user

@section scripts
{
    <script>



        $(document).ready(function () {

            $("#btnSubmit").click(function () {

                var formData = $("#frm").serialize();

                $.ajax({
                    type: "POST",
                    url: "/Users/ResetUserPassword",
                    data: formData,
                    success: function (response) {
                        //$("#md").hide();
                        //$("#myModal").modal("show");

                    },
                    error: function (response) {
                        alert(response.responseText);
                    }

                });

            })

        })

    </script>
}


<form id="frm">

    <div class="modal-header" id="md">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@Resources.ResourcesFields.PasswordReset</h4>
    </div>

    <div class="modal-body">

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group required">
                @Html.LabelFor(model => model._password, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.PasswordFor(model => model._password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model._password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group required">
                @Html.LabelFor(model => model._passwordConfirm, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.PasswordFor(model => model._passwordConfirm, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model._passwordConfirm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.ResourcesFields.Close</button>
        <input type="submit" value=@Resources.ResourcesFields.Save class="btn btn-primary" id="btnSubmit" />
    </div>
   </form>

