@{
    ViewBag.Title = Resources.ResourcesFields.HomePage;
}

<div class="jumbotron">
    <div style="text-align: center;">
        <label class="site-title">@Resources.ResourcesSettings.AppTitle</label>
        <br />
        <label class="site-company">@Resources.ResourcesSettings.Company</label>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div style="text-align: center">
            <h2>@Resources.ResourcesSettings.ModuleRegistration</h2>
            <img src="~/Images/registration.png" width="100" height="100"/>
            <p>
                @Resources.ResourcesSettings.ModuleRegistrationDesc
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div style="text-align: center">
            <h2>@Resources.ResourcesSettings.ModulePayments</h2>
            <img src="~/Images/payments.png" width="100" height="100" />
            <p>
                @Resources.ResourcesSettings.ModulePaymentsDesc
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div style="text-align: center">
            <h2>@Resources.ResourcesSettings.ModuleTests</h2>
            <img src="~/Images/tests.png" width="100" height="100" />
            <p>
                @Resources.ResourcesSettings.ModuleTestsDesc
            </p>
        </div>
    </div>
</div>