@model IEnumerable<VenturaITC.DSMS.Models.student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.full_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birth_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marital_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marital_status_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.place_of_birth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.province_of_birth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fathers_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mothers_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_issuance_place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_issuance_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_expiry_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.academic_level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.job_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell_phone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell_phone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.full_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birth_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marital_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marital_status_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.place_of_birth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.province_of_birth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fathers_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mothers_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_issuance_place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_issuance_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_expiry_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.academic_level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.job_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell_phone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cell_phone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.number }) |
            @Html.ActionLink("Details", "Details", new { id=item.number }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.number })
        </td>
    </tr>
}

</table>
